:host {
  width: 100%;
}
.article h2 {
  color: #4a044e;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.article h4 {
  background-color: #4a044e;
  padding: 6px;
  border-radius: 3px;
  color: #f5d0fe;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.article p,
.article ul li {
  color: #701a75;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}
.code-list {
  background-color: #4a044e;
}
.mark {
  color: red !important;
}
.error {
  text-decoration: underline red wavy;
}
