<div class="main">
  <div class="example">
    <app-inputs [msg]="msg" [title]="title1" />
    <app-main-code [data]="codeData1" />
    <app-inputs [msg]="msg" [title]="title2" />
    <app-main-code [data]="codeData2" />
  </div>
  <div class="article">
    <h2>Input Decorator</h2>
    <p>
      🟣 It is expected by adding parentheses <app-code [code]="'@Input'" /> and
      this will mark this property as settable from outside.
    </p>
    <p>🟣 <span class="mark">(!)</span></p>
    <ul>
      <li>
        <app-code class="error" [code]="'@Input()smg:string'" /> TypeScript says
        there is no value being set at any point in this component instead, it's
        an uninitialized property
      </li>
      <li>
        <app-code [code]="'@Input()smg!:string'" /> Exclamation mark
        <span class="mark">(!)</span> another TypeScript feature, which tells
        TypeScript that we know that this will definitely be set to some value.
      </li>
    </ul>
    <p>
      🟣 Angular allaws us to configuer those input values we can pass
      aconfiguration object to this, one of this configration is
      <span class="mark">required</span> which telling Angular that this prperty
      must be set
      <app-code [code]="'@Input({required:true})smg!:string'" />
      And telling TypeScript that there definitly will be a value
    </p>
  </div>
</div>
