:host {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  margin: 30px 0;
  padding: 30px 50px;
  background-color: #f5d0fe;
  color: #4a044e;
  border-left: 5px solid #c026d3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
}
